:root {
  --base-margin: 1rem;
}

main{
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--base-margin);
    /* max-width: 1128px; */
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-items: stretch;
}

.main-thing-preview{
  flex-basis: calc(30%);
  height: auto;
}
.main-things-list{
  flex-basis: calc(40%);
  margin-right: var(--base-margin);
}
.main-things-creation{
  flex-basis: calc(30%);
  margin-right: var(--base-margin);
  display: flex;
  justify-content: stretch;
}

.frame_t {
  justify-self: stretch;
  border: 3px solid #ccc;
  padding: 15px;
  width: auto;
  display: flex;
}

.frame {
  justify-self: stretch;
  border: 3px solid #ccc;
  padding: 15px;
  width: auto;
}

/* внешние границы таблицы серого цвета толщиной 1px */
table {
  border-collapse: collapse;
  width: 100%;
}
/* границы ячеек первого ряда таблицы */
th {
  border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
  border: 1px solid grey;
}